acme==1.21.0
asttokens==2.2.1
backcall==0.2.0
beautifulsoup4==4.12.0
bs4==0.0.1
certbot==1.21.0
certbot-apache==1.21.0
certifi==2020.6.20
chardet==4.0.0
ConfigArgParse==1.5.3
configobj==5.0.6
cryptography==3.4.8
decorator==5.1.1
distlib==0.3.6
distro==1.7.0
executing==1.2.0
filelock==3.10.7
idna==3.3
ipython==8.12.0
jedi==0.18.2
josepy==1.10.0
matplotlib-inline==0.1.6
numpy==1.24.2
pandas==2.0.0
parsedatetime==2.6
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2023.3.20
platformdirs==3.2.0
prompt-toolkit==3.0.38
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.14.0
PyICU==2.8.1
pyOpenSSL==21.0.0
pyRFC3339==1.1
python-augeas==0.5.0
python-dateutil==2.8.2
pytz==2022.1
requests==2.25.1
requests-toolbelt==0.9.1
six==1.16.0
soupsieve==2.4
stack-data==0.6.2
traitlets==5.9.0
tzdata==2023.3
ufw==0.36.1
urllib3==1.26.5
virtualenv==20.21.0
virtualenv-clone==0.5.7
wcwidth==0.2.6
zope.component==4.3.0
zope.event==4.4
zope.hookable==5.1.0
zope.interface==5.4.0
